<h1>New Profile</h1>


<form action="/create_profile">
  <input type="text" name="Name" placeholder="Name">
  <input type="text" name="Year" placeholder="Year">
  <input type="text" name="Bio" placeholder="Bio">
  <input type="text" name="Src" placeholder="Image Url">
  <input type="text" name="Location" placeholder="Location">
  <input type="submit">
</form>